.hero-section{

  

    background-size:auto;

    background-position: center;

    background-repeat: no-repeat;

    height: 60vh;

    display: flex;
	justify-content:center;

    align-items: center;

}

.page-title {
  min-height: 100vh;
  min-height: 100svh; /* better for mobile browser screen height */
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.pvl-title {
  background-image: url("../images/pvl1.jpeg");
}

.hmeichhe-title {
  background-image: url("../images/hmeichhia.jpeg");
}


.page-title::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);
}

.page-title .container {
  position: relative;
  z-index: 1;
}
